@model List<Course>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<br />
<a href="/Course/AddNewCourse" class="btn btn-info">Add Course</a>
<br />
<br />

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Degree</th>
            <th scope="col">Min Degree</th>
            <th scope="col">Department Id</th>
            <th scope="col">Department Name</th>
            <th scope="col">Update Course</th>
            <th scope="col">Delete Course</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Course item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Degree</td>
                <td>@item.MinDegree</td>
                <td>@item.DepartmentId</td>
                @foreach(Department dept in ViewBag.depts)
                {
                    @if (item.DepartmentId == dept.Id)
                    {
                        <td>@dept.Name</td>
                    }
                }

                <td><a href="/Course/Update/@item.Id" class="btn btn-info">Update</a></td>
                <td><a id="Delete" class="btn btn-danger" onclick="checkDelete()">Delete</a></td>
                <script>
                    function checkDelete() 
                    {
                        if (confirm("Are You Sure !!") == true) 
                        {
                            window.location.href = "/Course/Delete/@item.Id";
                        }
                        else 
                        {
                            window.location.href = "/Course/index";
                        }
                    }
                </script>

            </tr>
        }

    </tbody>
</table>

