@model Course
@{
    ViewData["Title"] = "AddNewCourse";
    SelectList depetOptions = new SelectList(ViewBag.depts, "Id", "Name");
}

<h1>Update</h1>

<form method="Post" asp-action="SaveUpdate" asp-controller="Course">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <input name="Id" type="text" hidden value="@Model.Id" />
    <div class="form-group">
        <label asp-for="Name">Course Name</label>
        <input asp-for="Name" class="form-control" value="@Model?.Name" placeholder="Enter Course Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Degree">Course Degree</label>
        <input asp-for="Degree" class="form-control" value="@Model?.Degree" placeholder="Enter Course Degree" />
        <span asp-validation-for="Degree" class="text-danger"></span>

    </div>
    <div class="form-group">
        <label asp-for="MinDegree">Course Min Degree</label>
        <input asp-for="MinDegree" class="form-control" value="@Model?.MinDegree" placeholder="Enter Course Min Degree" />
        <span asp-validation-for="MinDegree" class="text-danger"></span>

    </div>
    <div>
        <label asp-for="DepartmentId">Department</label>
        <select asp-for="DepartmentId" asp-items="depetOptions" class="form-control">
        </select>

        @*    <select name="DepartmentId" id="DepartmentId" class="form-control">
        @foreach (Department item in ViewBag.depts)
        {
        if(Model?.DepartmentId == item.Id)
        {
        <option selected value="@item.Id"> @item.Name </option>
        }
        else
        {
        <option value="@item.Id"> @item.Name </option>
        }

        }
        </select> *@
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Save Course</button>
</form>
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

